<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setting_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,112},{548,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,108}}</string>
                <key>sourceSize</key>
                <string>{548,108}</string>
            </dict>
            <key>setting_music_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{548,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,108}}</string>
                <key>sourceSize</key>
                <string>{548,108}</string>
            </dict>
            <key>setting_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{548,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,108}}</string>
                <key>sourceSize</key>
                <string>{548,108}</string>
            </dict>
            <key>setting_sound_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,108}}</string>
                <key>sourceSize</key>
                <string>{548,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting_spr.png</string>
            <key>size</key>
            <string>{1102,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a008f96536b9f4657e77fb7607de546$</string>
            <key>textureFileName</key>
            <string>setting_spr.png</string>
        </dict>
    </dict>
</plist>
